configstore
BraveSoftware
flameshot
geany
google-chrome
gtk-2.0
gtk-3.0
helm
htop
JetBrains
menus
mimeapps.list
mutt/muttrc
omf
README.md
stacer
Thunar
touchegg
user-dirs.dirs
user-dirs.locale
VirtualBox
volumeicon
xfce4
youtube-viewer
